<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
<div class="container">
    <div class="container_top">
        <ul class="nav_list">
            <li class="list_el"><a href="/">Home</a></li>
            <li class="list_el"><a href="/newPost">New post</a></li>
            <li class="list_el"><a href="/getAllPosts">Posts</a></li>
        </ul>
    </div>
    <div class="conainer_main">
        <h1>Personal Blog</h1>
        <h3>With Node JS, Express JS, MongoDB</h3>
    </div>
</div>
    
</body>
</html>